<<<<<<< HEAD
<div class="jumbotron text-white"id="jumbotron_new_form" >
    <div class='container text-white'>
    <h1 class='text-white'>Créer ton événement</h1>
    <div class='mx-auto text-bold'>
        <%= simple_form_for @event do |f| %>
        <%= f.error_notification %>

        <%= f.input :start_date %>

        <%= f.input :duration %>

        <%= f.input :title %>

        <%= f.input :description%>

        <%= f.input :price%>

        <%= f.input :location %>

        <%= f.button :submit, class: "btn-primary", class: "btn btn-info" %>
        <% end %>
        </div>
    </div>
    
=======
<div class="container mx-auto mt-5 pt-5 w-25">

 <%= form_tag url_for(action: "create") do %>
    
    <div class="form-group">
      <%= label_tag 'Titre' %>
       <div class="col-md-8">
      <%= text_field_tag :title %>
       </div>
    </div>


    <div class="form-group">
        <%= label_tag 'Description' %>
        <div class="col-md-8">
            <%= text_area_tag :description %>
        </div>
    </div>

    <div class="form-group">
      <%= label_tag 'Lieu' %>
       <div class="col-md-8">
      <%= text_field_tag :location %>
       </div>
    </div>

     <div class="form-group">
      <%= label_tag 'Durée (en minutes)' %>
       <div class="col-md-8">
      <%= text_field_tag :duration %>
       </div>
    </div>

    <div class="form-group">
      <%= label_tag 'Prix' %>
       <div class="col-md-8">
      <%= text_field_tag :price %> 
      
       </div>
    </div>

    <div class="form-group">
        <%= label_tag 'Date de début' %>
        <div class="col-md-8 ml-3">
            <%= date_field_tag :start_date %>
        </div>
    </div>
    
      <%= submit_tag "Enregistrer", class: 'btn btn-primary ml-5'%>

    <% end %>
>>>>>>> 2a19edc3d9c721bf5ac1fbd353b42616d01da3f5
</div>